<app-header [affirmation]="todo.affirmation"></app-header>

<ion-content class="content" padding="true">
  <h3>Goals</h3>
  <ion-list lines="none" class="task-list" id="tasks-priorities">
    <ion-item class="task" *ngFor="let goal of todo.goals; let i = index">
      <span class="priority-rank">{{i+1}}</span>
      <ion-label>{{goal}}</ion-label>
      <ion-checkbox slot="end" checked="false"></ion-checkbox>
    </ion-item>
  </ion-list>

  <h3>to do</h3>
  <ion-list lines="none" class="task-list" id="tasks">
    <ion-item class="task" *ngFor="let task of todo.tasks; let i = index">
      <ion-label>{{task}}}</ion-label>
      <ion-checkbox slot="end" checked="false"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>