<ion-header>
  <ion-toolbar>
    <ion-title>
      Tasks
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-card class="task-list">
  <ion-list no-padding>
      <ion-list-header class="task-title">
        <ion-label>Priority</ion-label>
      </ion-list-header>
      <ion-item no-padding>
          <ion-label>Item 1</ion-label>
          <ion-checkbox slot="end" checked="true"></ion-checkbox>
      </ion-item>
      <ion-item no-padding>
          <ion-label>Item 1</ion-label>
          <ion-checkbox slot="end" checked="true"></ion-checkbox>
      </ion-item>
      <ion-item no-padding>
          <ion-label>Item 1</ion-label>
          <ion-checkbox slot="end" checked="true"></ion-checkbox>
      </ion-item>
  </ion-list>
</ion-card>

<ion-card class="task-list">
  <ion-list no-padding>
      <ion-list-header class="task-title">
        <ion-label>Priority</ion-label>
      </ion-list-header>
      <ion-item no-padding>
          <ion-label>Item 1</ion-label>
          <ion-checkbox slot="end" checked="true"></ion-checkbox>
      </ion-item>
      <ion-item no-padding>
          <ion-label>Item 1</ion-label>
          <ion-checkbox slot="end" checked="true"></ion-checkbox>
      </ion-item>
      <ion-item no-padding>
          <ion-label>Item 1</ion-label>
          <ion-checkbox slot="end" checked="true"></ion-checkbox>
      </ion-item>
  </ion-list>
</ion-card>

</ion-content>
