:host {
    text-align: center;

    .logo {
        background-color: var(--ion-color-primary);
        text-align: center;
        padding: 2em 0;
    }

    .signup {
        padding: 0 1em;
    }

    .circle {
        width: 7em;
        height: 7em;
        border-radius: 50%;
        margin: 0 auto;
        padding: 0.5em;
        background: white;

        h2 {
            font-family: 'Montserrat', sans-serif;
            line-height: 2.5em;
        }
    }

    h3 {
        color: white;
        font-family: 'Montserrat', sans-serif;
    }

    .inputs {
        margin: 3em 0;
    }

}