<ion-content color="primary">
    <div class="header-review">
        Morning Review
    </div>

    <div id="cards-wrapper">
        <ion-card class="question-card" color="light">
            <ion-card-header>
                <ion-card-subtitle>Believe in you</ion-card-subtitle>
                <ion-card-title>What is your affirmation for today?</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <input type="text">
            </ion-card-content>
        </ion-card>

        <ion-card class="question-card" color="light">
            <ion-card-header>
                <ion-card-subtitle>Be gratefull</ion-card-subtitle>
                <ion-card-title>What are you gratefull for?</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <input type="text">
                <ion-button class="add-btn" color="light">
                    <ion-icon name="add"></ion-icon> Add another gratefull thought
                </ion-button>
            </ion-card-content>
        </ion-card>

        <ion-card class="question-card" color="light">
            <ion-card-header>
                <ion-card-subtitle>Set your goals</ion-card-subtitle>
                <ion-card-title>What are you priorities today?</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <input type="text">
                <input type="text">
                <input type="text">
                <ion-button class="add-btn" color="light">
                    <ion-icon name="add"></ion-icon> Add another goal
                </ion-button>
            </ion-card-content>
        </ion-card>
        <ion-card class="question-card" color="light">
            <ion-card-header>
                <ion-card-subtitle>Take small steps</ion-card-subtitle>
                <ion-card-title>Whats are the task that you have to accomplish today?</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <input type="text">
                <input type="text">
                <input type="text">
                <ion-button class="add-btn" color="light">
                    <ion-icon name="add"></ion-icon> Add another task
                </ion-button>
            </ion-card-content>

        </ion-card>

        <div>
            <h1 class="questions">You are all done!</h1>
        </div>
    </div>
</ion-content>