:host {
    background: var(--ion-color-primary);

    .header-review {
        text-align: center;
        color: white;
        font-size: 2em;
        padding: 1em 0;
        text-transform: uppercase;
        font-weight: 900;
    }

    input {
        border-radius: 5px;
        border: 1px solid var(--ion-color-light-shade);
        padding: 6px 5px;
        width: 100%;
    }

    ion-card {
        padding: 1.5em 1em;
    }

    ion-card-header {
        margin: 1em 0;
    }

    ion-card-subtitle {
        font-weight: 800;
        text-transform: uppercase;
        color: var(--ion-color-medium-tint) !important;
        font-size: 0.8em;
    }

    .priority-rank {
        padding: 1em;
    }

    .card-question [disabled] {
        pointer-events: none;
        opacity: 0.7;

    }

    .add-btn {
        text-align: right;

        ion-icon {
            margin-right: 5px;
        }
    }

    .close-btn {
        text-align: right;
        font-size: 1em;
        position: absolute;
    }

    ion-list {
        background-color: transparent;
    }

    ion-item {
        --ion-background-color: transparent;
    }

}