<ion-content color="primary">
    <div class="header-review">
        Morning Review
    </div>

    <div id="cards-wrapper">
        <ion-card class="question-card" color="light">
            <ion-card-header>
                <ion-card-subtitle>Believe in you</ion-card-subtitle>
                <ion-card-title>What is your affirmation for today?</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <ion-item class="add-item" lines="none">
                    <ion-label>{{affirmation}}</ion-label>
                </ion-item>
                <ion-item class="add-item">
                    <ion-input type="text" placeholder="Add an affirmation" name="affirmation"
                        (change)="change($event)"></ion-input>
                    <ion-button class="add-btn" (click)="addItem()">
                        Add
                    </ion-button>
                </ion-item>
            </ion-card-content>
        </ion-card>

        <ion-card class="question-card" color="light">
            <ion-card-header>
                <ion-card-subtitle>Be gratefull</ion-card-subtitle>
                <ion-card-title>What are you gratefull for?</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <ion-item *ngFor="let todo of gratefulList; let i = index">
                    <ion-label>{{todo}}</ion-label>
                    <ion-button color="danger" (click)="deleteItem(i)">
                        <ion-icon name="trash"></ion-icon>
                    </ion-button>
                </ion-item>
                <ion-item class="add-item">
                    <ion-input type="text" placeholder="Add a grateful though" name="grateful"
                        (change)="change($event)">
                    </ion-input>
                    <ion-button class="add-btn" (click)="addItem()">
                        Add
                    </ion-button>
                </ion-item>
            </ion-card-content>
        </ion-card>

        <ion-card class="question-card" color="light">
            <ion-card-header>
                <ion-card-subtitle>Set your goals</ion-card-subtitle>
                <ion-card-title>What are you priorities today?</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <ion-item *ngFor="let todo of goalList; let i = index">
                    <ion-label>{{todo}}</ion-label>
                    <ion-button color="danger" (click)="deleteItem(i)">
                        <ion-icon name="trash"></ion-icon>
                    </ion-button>
                </ion-item>
                <ion-item class="add-item">
                    <ion-input type="text" placeholder="Add another goal" name="goal" (change)="change($event)">
                    </ion-input>
                    <ion-button class="add-btn" (click)="addItem()">
                        Add
                    </ion-button>
                </ion-item>
            </ion-card-content>
        </ion-card>

        <ion-card class="question-card" color="light">
            <ion-card-header>
                <ion-card-subtitle>Take small steps</ion-card-subtitle>
                <ion-card-title>Whats are the task that you have to accomplish today?</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <ion-item *ngFor="let todo of taskList; let i = index">
                    <ion-label>{{todo}}</ion-label>
                    <ion-button color="danger" (click)="deleteItem(i)">
                        <ion-icon name="trash"></ion-icon>
                    </ion-button>
                </ion-item>
                <ion-item class="add-item">
                    <ion-input type="text" placeholder="Add another task" name="task" (change)="change($event)">
                    </ion-input>
                    <ion-button class="add-btn" (click)="addItem()">
                        Add
                    </ion-button>
                </ion-item>
            </ion-card-content>

        </ion-card>
    </div>
    <div>
        <h1 class="questions">You are all set! <ion-icon name="checkmark-circle"></ion-icon>
        </h1>
    </div>
</ion-content>