<ion-header>
  <ion-toolbar color="light">
    <ion-title>Create an account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="logo-wrap">
    <div class="logo">
      <h1>P</h1>
    </div>
    <h1 class="logo-name">Priori</h1>
  </div>

  <div class="signup">
    <ion-list class="inputs">
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input type="email" [(ngModel)]="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input type="password" [(ngModel)]="password"></ion-input>
      </ion-item>
      <p class="login">Already have an account? <a routerLink="/login">Login here</a></p>
    </ion-list>
    <ion-button expand="block" (click)="signup()">Signup</ion-button>
  </div>


</ion-content>