:host {
    text-align: center;

    .logo-wrap {
        background-color: var(--ion-color-primary);
        text-align: center;
        padding: 2em 0 1em 0;
    }

    .signup {
        padding: 0 1em;
    }


    .logo-name {
        font-family: 'Arvo', serif;
        color: white;
        letter-spacing: 0.2em;
        margin-top: 5px;
    }

    .logo {
        width: 6em;
        height: 6em;
        margin: 0 auto;
        padding: 0.5em;
        background: white;

        h1 {
            font-family: 'Arvo', serif;
            font-size: 6em;
            color: var(--ion-color-primary);
            line-height: 0.5em;
        }
    }

    .inputs {
        margin: 3em 0;
    }


    .inline {
        display: inline-block;
        vertical-align: middle;
    }

    .login {
        text-align: right;
        margin-top: 10px;
        font-size: 0.8em;
    }

}