<ion-content no-border>
<div class="content">
    <ion-card class="affirmation-card" no-margin no-border>
      <ion-card-content class="affirmation-text">
        <p  class="priority-text">talk to my boss</p>
      </ion-card-content>
    </ion-card>

   <div class="priority-slide">
     <ion-card class="priority-card">
      <ion-card-content no-padding>
        <p class="priority-number">1</p>
        <p class="priority-text">finish my homework</p>
      </ion-card-content>
    </ion-card>
    <ion-card class="priority-card">
      <ion-card-content no-padding>
        <p class="priority-number">2</p>
        <p class="priority-text">drink a lot of  water</p>
      </ion-card-content>
    </ion-card>
    <ion-card class="priority-card">
      <ion-card-content no-padding>
        <p class="priority-number">3</p>
        <p class="priority-text">go buy a new dress</p>
      </ion-card-content>
    </ion-card>
   </div>

  <ion-card class="task-list">
    <ion-list no-padding>
      <ion-list-header class="task-title">
        <ion-label>Completes tasks</ion-label>
        <div class="pie">
          <div class="slice-right"></div>
          <div class="slice-left"></div>
          <div class="percent">
            <div class="number">75%</div>
          </div>
        </div>
      </ion-list-header>
      <ion-item no-padding>
          <ion-label>Item 1</ion-label>
          <ion-checkbox slot="end" checked="true"></ion-checkbox>
      </ion-item>
      <ion-item no-padding>
          <ion-label>Item 1</ion-label>
          <ion-checkbox slot="end" checked="true"></ion-checkbox>
      </ion-item>
      <ion-item no-padding>
          <ion-label>Item 1</ion-label>
          <ion-checkbox slot="end" checked="true"></ion-checkbox>
      </ion-item>
    </ion-list>
</ion-card>



  <ion-card class="end-day-review">
      <ion-card-content no-padding>
        <ion-button color="primary">Start end-day review</ion-button>
      </ion-card-content >
  </ion-card>


</div>
</ion-content>
