:host {
  .card-slide {
    overflow-y: hidden;
    white-space: nowrap;
    text-align: center;

    .card {
      display: inline-block;
      margin: 0.5em;
    }

    p {
      display: inline-block;
      padding: 1em;
    }
  }

  .card-slide::-webkit-scrollbar {
    display: none;
  }

  ion-card {
    text-align: center;
    background-color: white;
  }

  .percent {
    width: 100%;
  }

  .signup {
    text-align: right;
    padding: 5px 0;
  }

  .highlight {
    font-size: 2em;
  }
}